* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  font-style: italic;
}

p,
span {
  @include content;
}

h2 {
  @include title;
}

.container {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.header {
  background-image: url(../img/banner.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 960px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  margin-bottom: 64px;

  h1 {
    font-size: 80px;
    line-height: 94px;
    font-weight: bold;
  }

  p {
    font-weight: 700;
  }

  &-title {
    margin-top: 80px;
    margin-bottom: 32px;
  }

  &-content {
    margin-bottom: 48px;
  }

  &-socialMedia {
    display: flex;

    li {
      margin: 0 8px;
    }
  }
}

.about {
  margin-bottom: 56px;

  h2 {
    margin-bottom: 40px;
    font-weight: 500;
  }

  p {
    font-weight: 600;
    margin-bottom: 8px;
  }

  img {
    margin-bottom: 24px;
  }

  &-content {
    & :last-child p {
      margin: 0 auto;
      padding-bottom: 12px;
      margin-bottom: 32px;
      width: 384px;
      border-bottom: 1px solid #000;
    }
  }

  &-item {
    margin-bottom: 32px;

    span {
      position: relative;
      font-weight: 600;

      &::before {
        position: absolute;
        content: '';
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background: #891818;
        left: -38px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

.myBrand {
  background: #000;
  z-index: -1;
  color: #ffffff;
  font-weight: 500;
  padding: 64px 0 160px 0;
  text-align: center;
  margin-bottom: 64px;

  h2 {
    margin-bottom: 16px;
  }

  p {
    font-size: 20px;
  }

  &-title {
    margin-bottom: 32px;
  }

  &-content {
    margin-bottom: 48px;
  }

  &-photo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1224px;

    img {
      margin: 0 12px 40px;
    }
  }
}

.otherWorks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  p {
    font-size: 20px;
    font-weight: 500;
  }

  &-title {
    h2 {
      margin-bottom: 24px;
      font-weight: 500;
    }

    margin-bottom: 128px;
  }

  &-photo {
    background-image: url(../img/photo-1561291386-5be50364cfb5.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    padding-bottom: 160px;

    li {
      margin: 0 12px;
    }

    img {
      margin-bottom: 16px;
    }

    .poster {
      display: flex;
      justify-content: center;
      margin-bottom: 56px;

      &:first-child {
        margin-top: -80px;
      }
    }

    .photography {
      display: flex;
      justify-content: center;
      margin-bottom: 56px;
    }

    .design {
      display: flex;
      justify-content: center;
    }
  }
}

.footer {
  background: #000;
  color: #ffffff;
  padding: 64px 0 80px;
  text-align: center;

  p {
    margin-top: 16px;
    font-weight: 500;
  }
}